/*top_menu*/
*{
	padding: 0; 
	margin: 0; 
	list-style: none; 
	text-decoration: none;
}

.top{
	height: 50px; 
	background-color: #084e96;
}

.mini_logo{
	position: absolute; 
	margin-left: 30px; 
}

.mini_logo:hover{
	opacity: 0.5; 
}

.top_menu{
	height: 30px; 
	position: absolute; 
	top: 16px; 
	right: 0; 
}

.top_menu > li{
	float: left; 
	margin-right: 20px; 
	position: relative;
}

.top_menu > li:hover{
	opacity: 0.8;
}

.top_menu > li:first-child{
	background-image: url("./images/ico_register.png"); 
	background-repeat: no-repeat;
}

.top_menu > li:nth-child(2){
	background-image: url("./images/ico_login.png");
	background-repeat: no-repeat;
}

.top_menu > li:nth-child(3){
	background-image: url("./images/ico_mypage.png");
	background-repeat: no-repeat;
}

.top_menu > li:nth-child(4){
	background-image: url("./images/ico_favorite.png");
	background-repeat: no-repeat;
}

.top_menu > li:nth-child(5){
	background-image: url("./images/ico_cart.png"); 
	background-repeat: no-repeat;
}

.top_menu > li > a > p{
	color: #fff; 
	font-size: 13px; 
	padding-left: 25px; 
}

.top_menu > li:last-child{
	padding: 2px 10px;
	padding-left: 20px; 
	padding-bottom: 15px;
}

.top_menu > li:last-child:hover .mini_menu{
	display: block;		
	position: absolute; 
	z-index: 100;
}

.mini_menu{
	border: 1px solid grey; 
	width: 168px; 
	height: 128px;
	background-color: #fff;
	position: absolute;
	display: none;
	right: -10px;
	top: 34px;
	padding-top: 10px;
}

.mini_menu > img{
	position: absolute; 
	top: -18px; 
	left: 120px; 
}

.mini_menu > li{
	padding: 8px 0; 
}

.mini_menu > li > a > p{
	text-align: center; 
	font-size: 12px;
	color: #444;
}

.mini_menu > li > a > p:hover{
	color: #7c7c7c;
	text-decoration: underline;
}

.logo{
	height: 112px;
}

.logo > h1{
	text-align: center; 
	margin: 50px 0;
}

/*slider*/
.slider{
	width: 100%;
	z-index: 1; 

}

.slider_son{
	width: 740px; 
	height: 440px; 
}

.slider_son > img{
	margin: 0 auto;
}

.slick-slide{
	opacity: 0.5;
}

.slick-slide.slick-center{
	opacity: 1;
	padding: 0px 20px;
}

.slick-slide.slick-center:hover{
	opacity: 0.7;
}

/*menu*/
.menu{
	height: 65px; 
	border-top: 1px solid #084e96; 
	border-bottom: 1px solid #084e96; 
	margin-top: 80px; 
}

.sub_menu{
	width: 950px; 
	margin: 0 auto; 
}

.gnb > li{
	float: left; 
}

.gnb > li{
	background-image: url("./images/border01.png"); 
	background-repeat: no-repeat; 
	background-position: left center;
}

.gnb > li > a > p{
	font-size: 15px; 
	font-weight: bold; 
	letter-spacing: 1px; 
	margin: 0 32px; 
	padding: 23px 0; 
	color: #084e96;
}

.sns_set{
	width: 204px; 
	overflow: hidden;
}

.sns_set{
	background-image: url("./images/border01.png"); 
	background-repeat: no-repeat; 
	background-position: left center;
}

.sns_set > li{
	float: left; 
}

.sns_set > li > a > p{
	padding: 23px 0px; 
	padding-left: 44px; 
}

.sns_set > li:hover{
	opacity: 0.8;
}

/*under line*/
#underline{
	position: relative;
}

#underline:before{
	position: absolute; 
	content: ""; 
	background: #084e96; 
	height: 3px;
	bottom: 1px; 
	transition: all 0.7s;
	left: 50%;
	right: 50%;
}

#underline:hover:before{
	left: 0%;
	right: 0%;
	opacity: 1; 
}

/*menu2*/
.menu2{
	background-color: #f0f0f0;
	height: 65px;
	border-bottom: 1px solid #cacaca;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
	display: none;
	opacity: 0.9;
}

.sub_menu2{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

.sub_menu2 > h1{
	position: absolute; 
	top: 12px;
	width: 115px;
}

.sub_menu2 > h1 > img{
	width: 115px;
}

.sub_menu2 > h1:hover{
	opacity: 0.8;
}

.gnb2 {
	width: 722px;
	margin-left: 170px;
}

.gnb2 > li{
	float: left; 
	background-image: url("./images/border01.png");
	background-repeat: no-repeat;
	background-position: left center;
}

.gnb2 > li > a > p{
	font-size: 15px; 
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0 32px; 
	padding: 23px 0;
	color: #084e96;
}

.sns_set2{
	width: 204px;
	overflow: hidden;
	background-image: url("./images/border01.png"); 
	background-repeat: no-repeat; 
	background-position: left center;
}

.sns_set2 > li{
	float: left;
}

.sns_set2 > li > a > p{
	padding: 23px 0;
	padding-left: 44px;
}

.sns_set2 > li:hover{
	opacity: 0.8;
}

#underline2{
	position: relative;
}

#underline2:before{
	position: absolute;
	content: "";
	background: #084e96;
	height: 3px;
	bottom: 1px;
	transition: all 0.7s;
	left: 50%;
	right: 50%;
}

#underline2:hover:before{
	left: 0%;
	right: 0%;
	opacity: 1;
}

.contents{
	width: 100%;
	height: 460px;
	margin: 0 auto;
	background-image: url("./images/contents_background.jpg");
	margin-top: 100px;
	margin-bottom: 100px;
}

.contents_logo{
	text-align: center;
	color: #084e96;
	font-weight: bold;
}

.little_contents{
	width: 1084px;
	margin: 0 auto;
	margin-top: 60px;
}

.little_contents > ul > li{
	float: left;
	position: relative;
	margin-right: 17px;
}

.little_contents > ul > li:nth-child(3){
	margin-right: 0;
}

.text-box{
	width: 315px;
	height: 110px;
	position: absolute;
	top: 200px;
	left: 18px;
	background-color: #fff;
}

.title{
	text-align: center;
	font-weight: bold; 
	color: #084e96;
	padding-top: 25px;
	padding-bottom: 10px;
	font-size: 14px;
}

.txt{
	text-align: center;
	color: #084e96;
	font-size: 13px;
}

.catalog{
	width: 1100px;
	margin: 0 auto;
}

.catalog_menu{
	height: 60px;
	background-color: #084e96;
}

.catalog_gnb{
	padding-top: 13px;
	width: 409px;
	margin: 0 auto;
}

.catalog_gnb > li{
	float: left; 
	padding-left: 35px;
	padding-right: 35px;
	background-image: url("./images/border02.png");
	background-repeat: no-repeat;
	background-position: right;
}

.catalog_gnb > li:first-child{
	padding-left: 0;
}

.catalog_gnb > li:last-child{
	padding-right: 0;
	background-image: none;
}

.catalog_gnb > li a{
	color: #fff;
	font-weight: bold;
	font-size: 25px;
}

.gallery{
	overflow: hidden;
}

.tab-input {
	display: none;
}

.tab-item {
	position: absolute; 
	visibility: hidden; 
	opacity: 0; 
	-webkit-transform: 
	translateY(10px); 
	transform: translateY(10px);
}

.tab-input:checked + .tab-item {
		position: static; 
		visibility: visible; 
		opacity: 1; 
		-webkit-transform: translateY(0); 
		transform: translateY(0); 
		transition: 0.3s ease-in-out;
}


/*idk*/
.idk {
	margin-top: 46px;
}

#idk01 > li{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 260px; 
	height: 260px;
}

#idk01 > li:first-child{
	width: 540px; 
	height: 540px;
}

#idk01 > li:nth-child(3), #idk01 > li:nth-child(5), #idk01 > li:nth-child(9){
	margin-right: 0;
}

/*idk02*/
#idk02 > li{
	float: left;
	margin-right: 60px;
	margin-bottom: 55px;
	width: 326px;
	height: 470px;
}

#idk02 > li:nth-child(3), #idk02 > li:nth-child(6){
	margin-right: 0px;
}

#idk02 > li:nth-child(4), #idk02 > li:nth-child(5), #idk02 > li:last-child{
	margin-bottom: 0;
}

#idk02 .idk_new{
	width: 46px; 
	height: 20px;
	background-color: #f7667a;
	position: absolute; 
}

#idk02 .idk_new > p{
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
}

#idk02 > li > a > img{
	margin-bottom: 22px;
}

#idk02 .idk_topics{
	color: #e44179; 
	font-weight: bold; 
	font-size: 12px; 
	margin-bottom: 8px;
}

#idk02 .idk_title{
	color: #000; 
	font-size: 14px; 
	margin-bottom: 15px;
}

#idk02 .idk_date{
	color: grey; 
	font-size: 14px;
}

/*idk03*/
#idk03 > li{
	float: left; 
	margin-right: 60px;
	margin-bottom: 50px;
	width: 230px;
	height: 339px;
}

#idk03 > li:nth-child(4), #idk03 > li:nth-child(8), #idk03 > li:nth-child(12){
	margin-right: 0;
}

#idk03 .idk_new{
	width: 46px; 
	height: 20px;
	background-color: #f7667a;
	position: absolute; 
}

#idk03 .idk_new > p{
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
}

#idk03 .idk_topics{
	color: #848484;  
	font-size: 12px; 
	margin-top: 14px;
	margin-bottom: 10px;
}

#idk03 .idk_title{
	color: #000; 
	font-size: 14px; 
	margin-bottom: 10px;
}

#idk03 .idk_date{
	color: grey; 
	font-size: 14px;
}


/*more*/
#idk1_more{
	height: 58px;
	text-align: center;
	padding-top: 870px;
}

#more1{
	display: inline-block;
	width: 280px;
	height: 58px;
	background-color: #084e96;
	border-radius: 50px;
}

#more1:hover{
	background-color: #053a70;
}

#more1 > a{
	color: #fff;
	font-size: 20px;
	padding-top: 15px;
}


#idk2_more{
	height: 58px;
	text-align: center;
	padding-top: 1030px;
}

#more2{
	display: inline-block;
	width: 280px;
	height: 58px;
	background-color: #084e96;
	border-radius: 50px;
}

#more2:hover{
	background-color: #053a70;
}

#more2 > a{
	color: #fff;
	font-size: 20px;
	padding-top: 15px;
}

#idk3_more{
	height: 58px;
	text-align: center;
	padding-top: 1200px;
}

#more3{
	display: inline-block;
	width: 280px;
	height: 58px;
	background-color: #084e96;
	border-radius: 50px;
}

#more3:hover{
	background-color: #053a70;
}

#more3 > a{
	color: #fff;
	font-size: 20px;
	padding-top: 15px;
}

/*zoom-in*/
#idk01 > li{
	display: inline-block;
	overflow: hidden;
}

#idk01 > li img{
	display: block;
	transition: 0.6s ease-in-out;
}

#idk01 > li:hover img{
	transform: scale(1.1);
}

/*menu arrow*/
.catalog_menu{
	position: relative;
	overflow: hidden;
}

.catalog_menu > span{ 
	position: absolute;
	left: 360px; 
	bottom: -4px;
}

.image_up{
	margin-top: 150px;
}

.image_up > h1{
	text-align: center;
	color: #084e96;
}

.list{
	margin-top: 55px;
}

.list > li{
	border: 3px solid #084e96;
	width: 109px; 
	height: 100px;
	margin-right: 8px;
	float: left;
}

.list > li:last-child{
	margin-right: 0;
}

.list > li > img{
	width: 93px;
	margin-top: -26px; 
	margin-left: 9px;
}

.list > li > p{
	font-size: 12px; 
	font-weight: bold;
	color: #084e96;
	text-align: center;
}

.list > li:hover img{
	transform: translate(0, -10px);
}

.character{
	position: relative; 
	height: 1350px;
	margin-top: 300px;
	background-color: #f0f0f0;
}

.character_main{
	width: 1030px;
	margin: 0 auto;
}

.character_main > h1{
	color: #084e96;
	text-align: center;
	font-size: 26px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.character_animation{
	background-image: url("./images/character/bg_tab_suzyzoo.png");
	position: relative;
	width: 1030px;
	height: 370px;
	overflow: hidden;
}

.suzy{
	position: absolute; 
	top: 30px;
	left: 366px;
}

.suzy02{
	position: absolute;
	top: 166px;
	right: 125px;
}

.suzy_heart01{
	position: absolute; 
	top: 180px;
	right: 42px;
}

.suzy03{
	position: absolute;
	top: 19px;
	left: 120px;
}

.suzy_heart02{
	position: absolute;
	top: 125px;
	left: 40px;
}

.suzy04{
	position: absolute;
	top: 104px;
	right: 280px;
}

.suzy05{
	position: absolute;
	top: 122px;
	left: 245px;
}

.suzy_logo{
	position: absolute; 
	top: 22px;
	right: 20px;
}

.character_introduce{
	margin-top: 90px;
}

.introduce{
	width: 1100px;
	margin: 0 auto; 
}

.introduce > li{
	float: left; 
	width: 350px;
	height: 114px;
	position: relative; 
	margin-right: 24px;
}

.introduce > li:last-child{
	margin-right: 0;
}

.introduce > li:hover img{
	opacity: 0.8;
}

.introduce > li:hover .char_title{
	text-decoration: underline;
}

.introduce > li > a > img{
	border: 3px solid #dcdcdc;
}

.char_topics{
	position: absolute; 
	top: 5px;
	left: 128px;
	font-size: 15px;
	font-weight: bold;
	color: #084e96;
}

.char_title{
	position: absolute; 
	top: 32px;
	left: 128px;
	font-size: 14px;
	color: #084e96;
}

.char_date{
	position: absolute; 
	bottom: 5px;
	left: 128px;
	font-size: 13px;
	color: #848484;
}

/*footer*/
.footer{
	width: 100%;
	height: 392px;
	margin-top: 50px;
	position: absolute; 
	bottom: 0;
}

.footer_blue{
	background-color: #044181;
	width: 100%;
	height: 322px;
	position: absolute;
	bottom: 0;
}

.footer_green{
	position: relative;
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}

.footer_brand{
	width: 420px;
	height: 392px;
	position: absolute; 
	bottom: 0;
	background-color: #084e96;
}

.footer_brand > h1{
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 35px;
}

.footer_brand_cat{
	width: 340px;
	height: 200px;
	margin: 0 auto;
	border-bottom: 1px solid #fff;
}

.footer_brand_cat > li{
	float: left;
	margin-bottom: 30px;
}

.footer_brand_cat > li:nth-child(odd){
	width: 200px;
}

.footer_brand_cat > li:nth-child(even){
	width: 140px;
}

.footer_brand_cat p{
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}

.footer_sns{
	width: 340px;
	margin: 0 auto;
}

.footer_sns > p{
	width: 123px;
	position: absolute;
	top: 345px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}

.footer_sns > ul{
	width: 200px;
	height: 35px;
	position: absolute;
	top: 340px;
	left: 234px;
}

.footer_sns > ul > li{
	float: left;
	margin-right: 18px;
}

.footer_sns > ul > li:hover{
	opacity: 0.8;
}

.footer_cmn{
	width: 675px;
	height: 251px;
	position: absolute;
	left: 426px;
	top: 40px;
}

.footer_cmn_one{
	width: 160px; 
	height: 251px;
	position: absolute; 
	left: 65px;
}

.footer_cmn_one > h1, .footer_cmn_two > h1{
	font-size: 16px;
	color: #fff;
	margin-bottom: 15px;
}

.footer_cmn_one > li, .footer_cmn_two > li{
	margin-bottom: 10px;
}

.footer_cmn_one > li:hover p, .footer_cmn_two > li:hover p{
	text-decoration: underline;
}

.footer_cmn_one p, .footer_cmn_two p{
	color: #fff;
	font-size: 14px;
}

.footer_cmn_two{
	width: 160px;
	height: 251px;
	position: absolute;
	left: 294px;
}

.top_scroll{
	position: fixed;
	bottom: 0;
	right: 0;
	display: none;
}